<!DOCTYPE html>
<html>
<head>
	<title>Landing</title>
</head>
<body>
	<h1>Bienvenid@ a Reciclo
	{% if user.is_authenticated %}
		{{user.first_name}}
	{% endif %}
	!
	</h1>

	<p>Tenemos tasho intelingente que ayudan a salvar al planeta</p>

	<a href={% url 'trashcan_app:can-list' %}>Ver nuestros tachos</a>

	<hr>

	{% if not user.is_authenticated %}
		<a href="{% url 'home_app:login' %}">Login</a>
		<br>
		<a href="{% url 'home_app:signup' %}">Registro</a>
	{% else %}
		<a href="{% url 'home_app:logout' %}">Cerrar Sesion</a>
	{% endif %}
</body>
</html>